  </main>

  <div class="row" id="finalSpaceBeforeTheFooter"></div>
  <!-- Footer (not all buttons will be showed) -->
  <?php
    if(count($elementsForTheFooter) > 0){
      ?>
        <div class="row">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <?php
              foreach($elementsForTheFooter as &$elementForTheFooter){
                ?>
                  <button type="button" class="btn btn-outline-primary" onclick="continueToThisLocation('<?= $elementForTheFooter[1] ?>');">
                    <col>
                      <row>
                        <img src="<?= tabBarIconForThisTab($elementForTheFooter[0]) ?>" alt="<?= $elementForTheFooter[0] ?> width="25" height="25">
                      </row>
                      <row>
                        <p class="paragraphForTabBar">
                          <?= $elementForTheFooter[0] ?>
                        </p>
                      </row>
                    </col>
                  </button>
                <?php
              }
            ?>
          </div>
        </div>
      <?php
    }
  ?>

  </body>

</html>

<script>
//function to add url parameters (useful to change language)
function addUrlParameter(name, value) {
  var searchParams = new URLSearchParams(window.location.search)
  searchParams.set(name, value)
  window.location.search = searchParams.toString()
}

//function to proceed in a location when clicking on the tab bar
function continueToThisLocation(goLocation){
  document.cookie = "cronology="+escape("");
  document.cookie = "cronology=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  window.location = goLocation;
}
</script>

<link href="<?= WeCraftBaseUrl ?>components/bodyOfThePage/css/cssBodyOfThePage.css" rel="stylesheet" type="text/css">
