html {
  font-size: 2rem;
}

.paragraphForTabBar {
  font-size: 10px;
}

nav {
  height: 128px;
}

.dropdown {
  background-color: #F8F9FA;
}

.navbar-brand {
  background-color: #F8F9FA;
}

.btn-outline-primary {
  background-color: #FFFFFF;
}

#finalSpaceBeforeTheFooter {
  height: 270px;
}

.btn-group {
  position: fixed;
  bottom: 0px;
  padding-bottom: 40px;
  transform: translateX(24px);
  height: 128px;
  padding-right: 1px;
  padding-left: 1px;
}

#spaceAfterNavBar {
  position: relative;
  top: 150px;
}

@media (min-aspect-ratio: 1/1) {

  .paragraphForTabBar {
    font-size: 20px;
  }  

  .btn-group {
    padding-bottom: 3px;
    height: 91px;
    transform: translateX(12px);
  }

  html {
    font-size: 1rem;
  }

  nav {
    height: 90px;
  }

  #spaceAfterNavBar {
    top: 100px;
  }

}

#mySpacer {
  width: 10px;
}
